<nav class="no-bg-nav">
    <div class="nav-container">
        <a href="/" class="logo-title">Bookify</a>
        <div class="no-bg-nav-options nuni">
            <a href="#" class="nav-option">explore</a>
            <a href="#" class="nav-option">login</a>
            <a href="#" class="nav-option signup">sign up</a>
        </div>
    </div>
</nav>
</div>