<footer>
    <div class="footer-left nuni">
        <p><strong>© 2022 Bookify, All rights reserved.</strong></p>
        <p>Bookify is a book tracking application that allows users to organize their reading lists, track their progress, and explore new books.</p>
    </div>
    <div class="footer-right nuni">
        <a href="#" class="nav-option">contact</a>
        <a href="#" class="nav-option">terms and conditions</a>
        <a href="#" class="nav-option">privacy policy</a>
        <a href="#" class="nav-option">legal</a>
    </div>
</footer>
</div>
</body>
</html>