<%- include ('../partials/header.ejs') %>
      <div class="page-container nuni">
        <h1 class="page-header">Hi, <%= user.nickname %></h1>
        <p class="page-subtitle">Here is how your reading is going so far</p>
        <div class="dashboard-container" style="margin-top: 33px; margin-bottom: 30px;">
            <h2 class="dashboard-container-title" style="margin-bottom: 12px">books read</h2>
            <div style="display:flex; gap: 5px;">
            </div>
        </div>
        <div class="dashboard-container" style="margin-bottom: 50px; display: flex; flex-direction: column;">
            <h2 class="dashboard-container-title">reading history</h2>
        </div>
      </div>
<%- include('../partials/footer.ejs') %>